.intro {
    color: goldenrod;
}

.mainheading {
    color: red;
    }

.secondheading {
    color: pink;
}

#enjoy {
    color: orchid;
}

#happy {
    color: orchid;
}

.bigheading {
    color: black;
}

.extra {
    color: teal;
}